body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.green-boarder{
border: 1em greenyellow solid;
margin: 2em;
padding-bottom: 5em;
}

.blue-boarder{
border: 0.5em blue solid;
margin: 2em;
}

.retro-font-h2{
 font-family: 'Press Start 2P', cursive	; 
 font-size: 2.2em;
 color: #63D1F4;
}

.high-scores-countries-title{
font-family: 'Press Start 2P', cursive	; 
font-size: 3em;
 color: #63D1F4; 
}
.retro-font-names{
 font-family: 'Press Start 2P', cursive	; 
 color: #000000;
}

.retro-font-scores{
 font-family: 'Press Start 2P', cursive	; 
 color: #b81616;
}

/* .rowScoreData{
border: 0.5em black solid;
border-width: em;
padding-right: 5em;
} */

tr{
border: black solid;
border-width: 3px;
display:block;
padding: 2em;
}

